
.main{
    background-image: url(../../LBackground.png);
    height: 100vh;

 >h2{
    text-align: center;
    color: white    ;
 } 

}
.ptag{
    color: white;
}
.genderSelect{
    color: black;
    >option{
        color: black;
    }
}
